x<div id="sidebar" class="sidebar responsive ace-save-state">
    <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li>
            <a href="~/AdminHome">
                <i class="menu-icon fa fa-home" aria-hidden="true"></i>
                <span class="menu-text"> Quản Lí Chung </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tag" aria-hidden="true"></i>
                <span class="menu-text"> Sản Phẩm </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">


                <li class="">
                    <a href="~/Products/Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Tất cả sản phẩm
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="~/Categories/Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Nhóm sản phẩm
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>



       

    </ul><!-- /.nav-list -->


</div>